/*usual_header*/

@font-face {
    font-family: 'UniverLT';
    src:url(../../front/UniverLT.ttf);
}

body {
font-family: 'UniverLT','Microsoft YaHei';
src:url(../../front/UniverLT.ttf);
font-size:18px;
background:#f8f8f8;
text-align:center;
margin:0px;
padding:0px;
}

a {
color: #669;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
h1 {
font: bold 36px/100% Arial, Helvetica, sans-serif;
}
/************************************************************************************
STRUCTURE
*************************************************************************************/
#pagewrap{
padding: 0px;
width:95%;
margin: 0px auto;
min-width:980px;
_width:expression(document.body.clientWidth < 980 ? "980px" : "auto");

max-width:1190px;
_width:expression(document.body.clientWidth > 1190 ? "1190px" : "auto");
margin:0 auto;
}

.header_bg{height:91px;width:100%;background:url(../../img/new/top_bg.png);margin-top:-15px!important;margin-top:-8px;}
.header_bg .pagewrap_top{
	padding: 0px;
	width:95%;
	margin: 0px auto;
	min-width:980px;
	_width:expression(document.body.clientWidth < 980 ? "980px" : "auto");
	
	max-width:1190px;
	_width:expression(document.body.clientWidth > 1190 ? "1190px" : "auto");
	margin:0 auto;
	height:91px;
}

.header_bg .pagewrap_top #header {height:91px;margin-top:10px;}
.header_bg .pagewrap_top #header .logo{float:left;width:200px;height:90px;}
.header_bg .pagewrap_top #header .logo img{vertical-align:middle;border:0px;}
.header_bg .pagewrap_top #header .cenimg{height:90px;width:140px;float:left;}
.header_bg .pagewrap_top #header .cenimg img{margin-top:10px;}
.header_bg .pagewrap_top #header .rigcont{height:90px;width:400px;float:right;}
.header_bg .pagewrap_top #header .rigcont .tpli1{height:40px;width:89%;float:left;margin-top:5px;font-family:Arial, Helvetica, sans-serif}
.header_bg .pagewrap_top #header .rigcont .tpli1 ul{list-style:none;margin-top:0px;}
.header_bg .pagewrap_top #header .rigcont .tpli1 li{float:right;line-height:20px;text-align:right;height:25px;margin-top:10px;font-size:0.7em;}

/*flags*/
.select_box{float:left;width:90px;font-size:12px;font-family:Arial, Helvetica, sans-serif;}
.open_select_box{width:90px;position:relative;height:18px;}
#ensign{background-image:url(../../img/new/icon_country.png);background-repeat:none;display:inline-block;width:16px;height:11px;position:absolute;left:1px;top:4px;margin:0;}
#open_select{float:left;width:93px;text-align:center;height:18px;line-height:18px;position:relative;cursor:pointer;background:url(../../img/new/select_down_icon.png) no-repeat 68px center;text-align:left;padding-left:21px;}
.select_list{padding:0; position:relative; z-index:10000;height:75px;float:left;width:90px;margin:0;background:#fff;border-top:none;display:none;box-shadow:0 0 4px rgba(0, 0, 0, 0);}
.select_list li{text-align:left;height:15px;cursor:pointer;width:100%;line-height:10px;list-style-type:none;vertical-align:top;position:relative;top:-10px;color:#666;}
.h_bg{background:#e2eaf8;}
.currency_type{display:block;width:100%;position:absolute;left:0;top:0;text-align:center;font-size:12px;}
.currency_icon{background-image:url(../../img/new/icon_country.png);background-repeat:none;display:inline-block;width:16px;height:11px;position:absolute;left:1px;top:5px;}
.usd{background-position:left top;}
.eur{background-position:left -20px;}
.gbp{background-position:left 0px;}
.aud{background-position:left -60px}
.cad{background-position:0 -80px;}
.chf{background-position:0 -100px;}
.hkd{background-position:0 -120px;}
.cny{background-position:0 -140px;}
.select_box a{text-decoration: none;}
.hzd{background-position:0 -160px;}


/*****************************************************************************************************************************
                                      login.html                                               
******************************************************************************************************************************/
.login_bg{height:180px;width:100%;background:#fff;border:0px solid #036}
.login_bg #loginwrap{
padding: 0px;
width:95%;
margin: 0px auto;
min-width:980px;
_width:expression(document.body.clientWidth < 980 ? "980px" : "auto");

max-width:1190px;
_width:expression(document.body.clientWidth > 1190 ? "1190px" : "auto");
margin:0 auto;
height:180px;
}


#footer{width:100%;height:180px;float:left;}
#footer .f_img_txt1{width:24%;height:100%;float:left;}
#footer .f_img_txt1 h4{color:#969696;font-size:1em;text-align:left;margin-left:40px;margin-top:20px;}
#footer .f_img_txt1 .img1_list{width:100%;height:100px;float:left;margin-top:-20px!important;margin-top:-10px;}
#footer .f_img_txt1 .img1_list ul{list-style:none;}
#footer .f_img_txt1 .img1_list li{width:200px;text-align:left;}
#footer .f_img_txt1 .img1_list li img{margin-left:6px; cursor:pointer;}

#footer .f_img_line{width:1%;height:100%;float:left;}
#footer .f_img_line img{margin-top:20px;}

#footer .f_img_txt2{width:24%;height:100%;float:left;}
#footer .f_img_txt2 h4{color:#969696;font-size:1em;text-align:left;padding-left:60px;margin-top:20px;}
#footer .f_img_txt2 .img2_list{width:100%;height:100px;float:left;margin-top:-20px;}
#footer .f_img_txt2 .img2_list ul{list-style:none;margin-top:5px;}
#footer .f_img_txt2 .img2_list li{text-align:left;margin-left:20px;color:#969696;font-size:0.75em;line-height:20px;width:100%;}
#footer .f_img_txt2 .img2_list li a{color:#969696;}
#footer .f_img_txt2 .img2_list li a:hover{color:#426ba7}

#footer .f_img_txt3{width:24%;height:100%;float:left;}
#footer .f_img_txt3 h4{color:#969696;font-size:1em;text-align:left;padding-left:60px;margin-top:20px;}
#footer .f_img_txt3 .img3_list{width:100%;height:100px;float:left;margin-top:-20px;}
#footer .f_img_txt3 .img3_list ul{list-style:none;margin-top:5px;}
#footer .f_img_txt3 .img3_list li{text-align:left;margin-left:25px;color:#969696;font-size:0.75em;line-height:20px;width:100%;}
#footer .f_img_txt3 .img3_list li a{color:#969696;}
#footer .f_img_txt3 .img3_list li a:hover{color:#426ba7;}

#footer .f_img_txt4{width:24%;height:100%;float:left;}
#footer .f_img_txt4 h4{color:#969696;font-size:1em;text-align:left;padding-left:60px;margin-top:20px;}
#footer .f_img_txt4 .img4_list{width:100%;height:100px;float:left;margin-top:-20px;}
#footer .f_img_txt4 .img4_list ul{list-style:none;margin-top:5px;}
#footer .f_img_txt4 .img4_list li{text-align:left;margin-left:20px;color:#969696;font-size:0.75em;line-height:20px;width:100%;}
#footer .f_img_txt4 .img4_list li a{color:#969696;}
#footer .f_img_txt4 .img4_list li a:hover{color:#426ba7;}
/*sixth*/
#footer_bot{width:100%;height:39px;float:left;text-align:center;font-size:0.875em;color:#969696;background:url(../../img/new/footer_bg.png) repeat;padding-top:15px;}


.login_main{height:665px;max-width: 100%;min-width: 980px;background:#e8e8e8;}
.login_main #loginwrap1{
padding: 0px;
width:95%;
margin: 0px auto;
min-width:980px;
_width:expression(document.body.clientWidth < 980 ? "980px" : "auto");

max-width:1190px;
_width:expression(document.body.clientWidth > 1190 ? "1190px" : "auto");
margin:0 auto;
height:665px;

}
.login_main #loginwrap1 .login_bg{width:490px;height:520px;margin:0 auto;position:relative;top:70px;margin-top:0px;}
.login_main #loginwrap1 .login_bg .maintext{width:320px;height:400px;margin:0 auto;position:relative;top:30px;}
.login_main #loginwrap1 .login_bg .maintext .toptitle{width:320px;height:40px;float:left;margin-top:30px;}
.login_main #loginwrap1 .login_bg .maintext .toptitle h3{height:40px;font-size:24px;color:#666;margin:0;padding:0;text-align:left;font-family:Arial, Helvetica, sans-serif;}
.login_main #loginwrap1 .login_bg .maintext .toptitle h3 span a{font-size:12px;font-family:Arial, Helvetica, sans-serif;color:#426ba7;text-align:right;float:right;margin-top:10px;}
.login_main #loginwrap1 .login_bg .maintext .inputcss,.inputcss1{width:360px;height:60px;float:left;margin-top:10px;text-align:left;}
.login_main #loginwrap1 .login_bg .maintext .inputcss1{margin-top:30px;}
.login_main #loginwrap1 .login_bg .maintext .inputcss img{border:0px;}
.login_main #loginwrap1 .login_bg .maintext .inputcss1 img{border:0px;}
.login_main #loginwrap1 .login_bg .maintext .inputcss p{text-align:left;font-size:12px;font-family:Arial, Helvetica, sans-serif;color:#ea5a5a;margin-top:5px;}
.login_main #loginwrap1 .login_bg .maintext .inputcss1 p{text-align:left;font-size:12px;font-family:Arial, Helvetica, sans-serif;color:#ea5a5a;margin-top:5px;}

.login_main #loginwrap1 .login_bg .maintext .subcss{width:320px;height:40px;float:left;margin-top:30px;}
.login_main #loginwrap1 .login_bg .maintext .bottext{width:320px;height:40px;float:left;margin-top:20px;}
.login_main #loginwrap1 .login_bg .maintext .bottext h3{margin:0;padding:0;text-align:left;font-size:12px;color:#999;font-family:Arial, Helvetica, sans-serif;}
.login_main #loginwrap1 .login_bg .maintext .bottext h3 span a{font-size:12px;color:#426ba7;text-align:right;float:right;font-family:Arial, Helvetica, sans-serif;margin-top:5px;}

.i_css,.i_css1{width:314px;height:40px;border:1px solid #ccc;font-family:Arial, Helvetica, sans-serif;color:#999;padding-left:6px;}
.i_css1{width:120px;}
.s_css,.s_css1{width:320px;height:40px;border:1px solid #ccc;background:#426ba7;font-size:24px;color:#fff;font-family:Arial, Helvetica, sans-serif;}
.s_css1{width:145px;float:left;}

.s_css2,.s_css3{width:120px;height:40px;border:1px solid #ff6600;font-size:14px;color:#ff6600;font-family:Arial, Helvetica, sans-serif;text-align:center;float:left;}
.s_css3{width:150px;border:1px solid #426ba7;color:#426ba7;margin-left:20px;display:inline;}

/*************************************************************************************************
									forgetpwd.html
*************************************************************************************************/
.login_main #loginwrap1 .login_bg .maintext .top_correct{width:320px;height:80px;background:#eff5ea;border:1px solid #6ac451;}
.login_main #loginwrap1 .login_bg .maintext .top_correct img{width:15px;height:15px;border:0px;}
.login_main #loginwrap1 .login_bg .maintext .top_correct span{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#707070;text-align:left;}
.login_main #loginwrap1 .login_bg .maintext .top_correct a{color:#426ba7;}

.login_main #loginwrap1 .login_bg .maintext .top_wrong{width:320px;height:80px;background:#fef2f2;border:1px solid #ea5a5a;}
.login_main #loginwrap1 .login_bg .maintext .top_wrong img{width:15px;height:15px;border:0px;}
.login_main #loginwrap1 .login_bg .maintext .top_wrong span{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#707070;text-align:left;}

.login_main #loginwrap1 .login_bg .maintext .forgottext{width:320px;height:120px;}
.login_main #loginwrap1 .login_bg .maintext .forgottext h2{font-family:Arial, Helvetica, sans-serif;color:#666;text-align:left;margin:0;padding-top:20px;font-size:24px;}
.login_main #loginwrap1 .login_bg .maintext .forgottext p{font-family:Arial, Helvetica, sans-serif;color:#999;text-align:left;font-size:12px;}
.login_main #loginwrap1 .login_bg .maintext .emailcss{width:320px;height:40px;}
.login_main #loginwrap1 .login_bg .maintext .reset_fund_pwd  {width:500px;height:40px;}
.login_main #loginwrap1 .login_bg .maintext .bottsub{width:320px;height:40px;margin-top:20px;}
.login_main #loginwrap1 .login_bg .maintext .bottsub span{width:90px;height:35px;float:left;padding-top:5px;margin-left:10px;display:inline;}
.login_main #loginwrap1 .login_bg .maintext .bottsub span a{font-size:12px;font-family:Arial, Helvetica, sans-serif;color:#426ba7;}
.login_main #loginwrap1 .login_bg .maintext .bottsub img{width:32px;height:32px;float:left;position:relative;top:3px;}

/*************************************************************************************************
									agreement.html
*************************************************************************************************/
.login_main #loginwrap1 .login_bg .maintext .agreetext{width:350px;height:250px;margin-left:-15px;}
.login_main #loginwrap1 .login_bg .maintext .agreetext h2{font-family:Arial, Helvetica, sans-serif;color:#666;text-align:left;margin:0;padding-top:20px;font-size:24px;}
.login_main #loginwrap1 .login_bg .maintext .agreetext p{font-family:Arial, Helvetica, sans-serif;color:#999;text-align:left;font-size:14px;line-height:20px;}
.login_main #loginwrap1 .login_bg .maintext .agreetext p a,a:hover{color:#274e87;}
.login_main #loginwrap1 .login_bg .maintext .bottsub1{width:350px;height:40px;margin-top:20px;margin-left:-15px;}


/*************************************************************************************************
									second.html
*************************************************************************************************/
.login_main #loginwrap1 .login_bg .maintext .secondtext{width:400px;height:400px;margin-left:-40px;}
.login_main #loginwrap1 .login_bg .maintext .secondtext img{border:0px;}
.login_main #loginwrap1 .login_bg .maintext .secondtext p{font-family:Arial, Helvetica, sans-serif;color:#666;text-align:left;font-size:18px;line-height:20px;margin-left:80px;}

/*************************************************************************************************
									success.html
*************************************************************************************************/
.login_main #loginwrap1 .login_bg .maintext .successtext{width:400px;height:400px;padding-top:40px;margin-left:-40px;}
.login_main #loginwrap1 .login_bg .maintext .successtext img{border:0px;}
.login_main #loginwrap1 .login_bg .maintext .successtext span{font-family:Arial, Helvetica, sans-serif;color:#5e975e;text-align:left;font-size:24px;line-height:20px;}
.login_main #loginwrap1 .login_bg .maintext .successtext p{font-family:Arial, Helvetica, sans-serif;color:#666;text-align:left;line-height:20px;}
.login_main #loginwrap1 .login_bg .maintext .successtext .re_enable_mail{font-size: 15px;font-weight: bold;color: blue;cursor:pointer}

/* 焦点图 */
.clear { zoom: 1; }
.clear:after { content: ""; display: block; clear: both; }
.w1160 { width: 1156px; margin: 0 auto; position:relative; border-left: 2px solid #bdbdbd; border-right: 2px solid #bdbdbd;}
.focusBox { position: relative; text-align: center; margin-top: 2px; background:#fff; }
.focusBox .bd { padding: 0 110px; overflow: hidden; }
.focusBox b { color: #333; font-size: 30px; padding: 10px 0; display: block; font-weight: 600;}
.focusBox .bd ul { overflow: hidden; zoom: 1; }
.focusBox .bd ul li { float: left; overflow: hidden; display: inline; }
.focusBox .bd ul li img { border: 1px solid #ccc; width: 940px; max-height: 600px; overflow:hidden; zoom: 1; }
.focusBox .bd ul li p { text-align: left; font-size: 18px; line-height: 1.8;}
.focusBox .bd ul li p span { float: right; color: #b5b5b5; font-size: 30px; margin-bottom: 10px; }
.focusBox .bd ul li p strong { font-size: 18px; color:#ff6600;}
.focusBox .hd { padding-left: 340px; overflow: hidden; }
.focusBox .hd ul { zoom: 1;}
.focusBox .hd ul li { cursor: pointer; display: inline-block; *display:inline; zoom: 1; padding: 2px 8px; margin: 0 3px; overflow: hidden; background: #fff; border: 1px solid #d8d6d9; color: #427e9f; }
.focusBox .hd ul .on { border: 1px solid #ff6600; color: #ff6600; }
.focusBox .prev, .focusBox .next { text-indent: -20em; background:url(../../img/new/ico_mui.png) no-repeat; position: absolute; top: 340px; width: 36px; height: 79px; cursor: pointer; display: block; overflow: hidden; }
.focusBox .prev { left: 3%; background-position: 0 0; }
.focusBox .next { right: 3%; background-position: -36px 0; left: auto; }
.focusBox .prevStop { width: 14px; height: 27px; margin-top: 26px; background-position: -72px 0; }
.focusBox .nextStop { width: 14px; height: 27px; margin-top: 26px; background-position: -86px 0; }
